.box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 16px 0;
  padding: 16px;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: #333;
  }
}

.if_visited {
  background: #333;
}

.btn_visited {
  background: #2dba4e;
  color: white;

  &:hover {
    background: #2dba4e;
  }
}

.flag_img {
  width: 200px;
  height: auto;
}

button {
  width: 100%;
  margin-bottom: 10px;
}
