@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background: #111;
  color: white;
  font-family: "Roboto", sans-serif;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  max-width: 1140px;
  padding: 16px;
  margin: 0 auto;
}

button {
  border: none;
  outline: none;
}
